.upload-area {
    border: 2px dashed #dee2e6;
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #f8f9fa;
}
.upload-area:hover {
    border-color: #e10dfd;
    background-color: #fbe9ff;
}
.file-info {
    margin-top: 1rem;
    font-size: 0.9rem;
}
.btn-format {
    transition: all 0.2s;
}
.preview-icon {
    font-size: 3rem;
    color: #6c757d;
}
.card input::placeholder{
    color:#9ca4aa;
}
.card-header{
    background-color: #e10dfd;
}
.btn-custom{
    color: #e10dfd;
    border: solid #fbe9ff ;
}