.upload-area {
    border: 2px dashed #e6dede;
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #faf8f8;
}
.upload-area:hover {
    border-color: #9c0d0d;
    background-color: #ffe9e9;
}
.file-info {
    margin-top: 1rem;
    font-size: 0.9rem;
}
.btn-format {
    transition: all 0.2s;
}
.preview-icon {
    font-size: 3rem;
    color: #6c757d;
}
.card input::placeholder{
    color:#9ca4aa;
}
.card-header{
    background-color: #9c0d0d;
}
.btn-custom{
    color: #9c0d0d;
    border: solid #ffe9e9 ;
}
.literature-item {
    position: relative;
    padding-right: 40px;
}
.remove-literature {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}